*{box-sizing: border-box;
margin: 0;
padding: 0;}

body>header{background-color: #2f3640;
padding: 16px 0;
color: #f5f6fa;}


header .Container{display: flex;
align-items: center;
justify-content: space-between;}

header li{
    display: inline;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;}

header li a{
    color: #f5f6fa;
text-decoration: none;
margin-left: 16px;}

.Container{
    width: 1366px;
margin: 0 auto;}

.Artigos{
    display: flex;
flex-wrap: wrap;}

.Artigos article img {
    height: 180px;}

.Artigos article {
    width: 30%;
justify-content: space-between;}

section{
    padding: 16px 0;}

section h2,.Artigos article{
    margin-bottom: 16px;}

.Artigos article h3 {
    margin-top: 8px;
    margin-bottom: 8px;}

.Artigos article a{background-color: blue;
color: #fff;
padding: 8px;
display: inline-block;
text-decoration: none;
font-weight: bold;
margin-top: 8px;}

.Artigos article a:hover{
    text-decoration: underline;
}

.Artigos article p,
.Artigos article a{
    font-family:Arial, Helvetica, sans-serif;}

.Artigos article h3{
font-size: 24px;}

section h2{
font-size: 32px;}

#sports{
    background-color: rgba(0, 255, 0, 0.1);}

#sports .Artigos article a{
background-color: #009432;}

#economy{
    background-color: #f8f59f;}

#economy .Artigos article a{
    background-color:#ff9f1a ;}

#Saude{
    background-color: rgba(125, 0, 36, 0.5);}

#Saude .Artigos article a{
    background-color: red;}

#Educacao{
background-color: rgba(0, 0, 255, 0.1);}